<h1>{{h1}}</h1>
{{#each cards}}
<div class="card">
    <h2>{{bname}}</h2>
    <p>{{desc}}</p>
    <p>{{address}}</p>
    <p>{{phone}}</p>
    <img height="100" width="100" src="{{imgUrl}}" alt="{{bname}}">
    <a href="/cards/{{id}}/edit">Edit</a>
    <a href="/cards/{{id}}/delete">Delete</a>
</div>
{{/each}}